node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env*.local
dist
build
.DS_Store
*.log


**/*.test.ts
**/*.test.tsx
**/*.test.js
**/*.test.jsx
**/*.spec.ts
**/*.spec.tsx
**/*.spec.js
**/*.spec.jsx
**/test/
**/tests/
**/__tests__/